ci:
  autoupdate_schedule: monthly
  skip: [ruff-check, ruff-format, codespell, pyright]
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types_or: [python, pyi]
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types_or: [python, pyi]
      - id: codespell
        name: codespell
        entry: uv run codespell
        language: system
        stages: [pre-commit, commit-msg]
        pass_filenames: false
      - id: pyright
        name: pyright
        entry: uv run pyright smact/
        language: system
        types: [python]
        pass_filenames: false
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        # MD013: line too long
        # MD024: Multiple headings with the same content
        # MD033: no inline HTML
        # MD041: first line in a file should be a top-level heading
        # MD025: single title
        args:
          [
            --ignore,
            "dev_docs/design_docs/*",
            --disable,
            MD013,
            MD024,
            MD025,
            MD033,
            MD041,
            "--",
          ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        args: [--write] # edit files in-place
        additional_dependencies:
          - prettier
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.2
    hooks:
      - id: nbstripout
        args: [--drop-empty-cells, --keep-output]
  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.20.0
    hooks:
      - id: blacken-docs
