repos:
  - repo: https://github.com/timothycrosley/isort
    rev: "5.12.0"
    hooks:
      - id: isort
        additional_dependencies: [toml]
        args: ["--profile", "black", "--filter-files"]
  - repo: https://github.com/psf/black
    rev: "23.1.0"
    hooks:
      - id: black-jupyter
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/nbQA-dev/nbQA
    rev: "1.6.1"
    hooks:
      - id: nbqa-pyupgrade
        additional_dependencies: [pyupgrade==3.3.1]
        args: [--py38-plus]

