name: Publish SMACT distributions to PyPI

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  test:
    uses: ./.github/workflows/ci.yml

  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Build
        run: uv build
      - uses: actions/upload-artifact@v7
        with:
          path: dist/*.*

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      # For pypi trusted publishing
      id-token: write
    steps:
      - name: Get build artifacts
        uses: actions/download-artifact@v7
        with:
          name: artifact
          path: dist
      - name: Publish to PyPi
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          skip-existing: true
          verbose: true
